{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content-title %}<h1>Выход</h1>{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <div class="alert alert-info">
        <p>{% bootstrap_icon "exclamation-sign" %}
        Благодарим вас за время, проведенное на этом сайте.</p>
      </div>
    </div>
    <div class="col-md-4">
    </div>
  </div>
{% endblock %}