{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content-title %}<h1>Вход</h1>{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <form method="POST" class="form">
      {% csrf_token %}
      {% bootstrap_form form %}
      <p>&nbsp;</p>
      {% buttons %}
        <button type="submit" class="btn btn-primary">
          {% bootstrap_icon "star" %} Войти
        </button>
        <a href="{% url 'password_reset' %}">
          <button type="button" class="btn btn-link" style="float:right">
            Сбросить пароль
          </button>
        </a>
      {% endbuttons %}
      </form>
    </div>
    <div class="col-md-4">
    </div>
  </div>
{% endblock %}