{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content-title %}<h1>Сброс пароля</h1>{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <div class="alert alert-info">
        <p>{% bootstrap_icon "exclamation-sign" %}
        Новый пароль будет отправлен вам SMS-сообщением.</p>
      </div>
      <form method="POST" class="form">
      {% csrf_token %}
      {% bootstrap_form form %}
      <p>&nbsp;</p>
      {% buttons %}
        <button type="submit" class="btn btn-danger">
          {% bootstrap_icon "flash" %} Сбросить пароль
        </button>
      {% endbuttons %}
      </form>
    </div>
    <div class="col-md-4">
    </div>
  </div>
{% endblock %}