{% load bootstrap3 %}{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/sticky-footer.css' %}" rel="stylesheet">
    {% bootstrap_css %}
    <title>{% block title %}Турникет{% endblock %}</title>
    {% block head %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
        </div>
        {% block navbar %}
        <a class="navbar-brand" href="/">Турникет</a>
        <ul class="nav navbar-nav navbar-right" id="user-applet">
          <li><a href="{% url 'user_applet' %}">Вход</a></li>
        </ul>
        {% endblock %}
      </div>
    </nav>
    <div class="container" style="padding-bottom:60px">
      <div class="page-header">
        <div class="container">
          {% block content-title %}
          <h1>Назначение страницы</h1>
          {% endblock %}
        </div>
      </div>
      {% block content %}
        <p>Начинка</p>
      {% endblock %}
      {% bootstrap_javascript jquery=1 %}
      <script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script>
      <script type="text/javascript">ajaxGet("{% url 'user_applet' %}");</script>
    </div>
    <footer class="footer">
      <div class="container">
      {% block footer %}
        <p style="margin:20px 0">&copy; <a href="mailto:tanner@codetinkers.ru">Code Tinkers</a>, 2014</p>
      {% endblock %}
      </div>
    </footer>
  </body>
</html>