{% extends 'base.html' %}{% load bootstrap3 %}

{% block content-title %}
          <h1>Отправленные сообщения</h1>
{% endblock %}

{% block content %}
  {% bootstrap_pagination sms %}
  {% for sm in sms %}
    {% if forloop.first %}
    <table class="table">
      <tr>
        <th>№</th><th>Текст сообщения</th><th>Дата отправки</th><th>Результат</th>
      </tr>
    {% endif %}
      <tr>
        <td>{{ sm.sent_items_id }}</td>
        <td>{{ sm.text_decoded }}</td>
        <td>{{ sm.sending_date_time }}</td>
        <td>{{ sm.status  }}</td>
      </tr>
    {% if forloop.last %}
    </table>
    {% endif %}
  {% endfor %}
{% endblock %}